<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <h4>Badges</h4>
  <!-- <button class="btn btn-light">Notifications <span class="badge bg-primary">50</span></button>
  <button class="btn btn-light">Notifications <span class="badge bg-success">50</span></button>
  <button class="btn btn-light">Notifications <span class="badge bg-danger">50</span></button>
  <button class="btn btn-light">Notifications <span class="badge bg-warning">50</span></button>
  <button class="btn btn-light">Notifications <span class="badge bg-primary rounded-pill">50</span></button> -->

  <h4>
    Badges position
  </h4>

  <button type="button" class="btn btn-primary position-relative">
   Notification
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
    </span>
  </button>
</body>
</html>