<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <!-- <h5>Card classes</h5> -->

  <!-- <div class="card">
    <div class="card-body">Basic card</div>
   
  </div> -->


  <!-- <div class="card">
    <div class="card-header">Header</div>
    <div class="card-body">Content</div>
    <div class="card-footer">Footer</div>
  </div> -->

  <!-- <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some example text. Some example text.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->

  <div class="d-flex justify-content-evenly">

  <div class="card text-center" style="width:300px">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdDjZzA2nHWlD4IyeAe-7iEu5seEsmhRo2Yw&s" alt="Card image" style="height: 220px;">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, maiores.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card text-center" style="width:300px">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdDjZzA2nHWlD4IyeAe-7iEu5seEsmhRo2Yw&s" alt="Card image" style="height: 220px;">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, maiores.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card text-center" style="width:300px">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdDjZzA2nHWlD4IyeAe-7iEu5seEsmhRo2Yw&s" alt="Card image" style="height: 220px;">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, maiores.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card text-center" style="width:300px">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdDjZzA2nHWlD4IyeAe-7iEu5seEsmhRo2Yw&s" alt="Card image" style="height: 220px;">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, maiores.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  </div>


  <div class="card" style="width:200px">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdDjZzA2nHWlD4IyeAe-7iEu5seEsmhRo2Yw&s" alt="Card image" style="width: 200px; height: 250px;">
    <div class="card-img-overlay">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  
</body>
</html>