<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
 <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <h4>Alerts</h4>
  <!-- <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
  <div class="alert alert-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>
  <div class="alert alert-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aliquam.</div>

  <h4>Alert link class</h4>
  <div class="alert alert-primary">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, debitis.  <a class="alert-link" href="">Lorem, ipsum dolor.</a>
  </div> -->

  <div class="alert alert-warning alert-dismissible">
   You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show">
   You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
</body>
</html>